AffinityScripts/__pycache__/AffinityLinuxInstaller.cpython-313.pyc
__pycache__/
build/
AffinityScripts/icons/Affinity-Canva.svg
AffinityScripts/icons/AffinityDesigner.svg
AffinityScripts/icons/AffinityPhoto.svg
AffinityScripts/icons/AffinityPublisher.svg
AffinityScripts/icons/Designer.svg
AffinityScripts/icons/Photo.svg
AffinityScripts/icons/Publisher.svg
